html {
  scroll-behavior: smooth;
}

#title {
    width: 72%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

body {
    margin:0;
    padding:0;
    background-color: #c45508;
}

#box {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}


* {
  box-sizing: border-box;
}

.button {
  font-size: 100%;
  background-color: black;
  color: white;
  text-align: right;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
  float: right;
  height: 80px;
  width: 10%;
  padding-right: 50px;
  margin-left: 0.1%;

  margin-top: 20px;
}

.button :hover {
  color: grey;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

a {
  text-decoration:none;
  color: white;
}


#illustration{
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}


#name{
  width: 35%
}

#name:hover {
  opacity: 0.4;
}

#yes{
    width: 50%;
}

#illustrationsport{
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  margin-top: 70px

}

#writingport{
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  margin-top: 70px

}

#gamesport{
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  margin-top: 70px

}
